.CollectionAdd {
  --size: 28px;
  height: var(--size);
  margin-top: -6px;
}

.CollectionAdd__trigger svg {
  width: var(--size);
  height: var(--size);
  transition:
    background,
    fill 0.14s ease-out;
  padding: 4px;
  @apply fill-neutral-500;
  @apply rounded-md;
}

.CollectionAdd__trigger svg:hover {
  background: var(--hover-bg);
  @apply fill-neutral-800;
}

.CollectionAdd__input {
  @apply grid;
  @apply gap-1;
  grid-template-columns: 1fr 60px;
}

.CollectionDelete__title-warning {
  height: 1.2em;
  width: 1.2em;
  margin-top: -2px;
  margin-right: 0.2em;
  display: inline-block;
  @apply fill-neutral-600;
}

#emoji-picker > button {
  display: none;
}

.EmojiTrigger {
  @apply text-neutral-600;
  @apply bg-neutral-100;
  @apply hover:text-neutral-800;
  @apply hover:bg-neutral-200;
  @apply rounded-lg;
  @apply transition;
  @apply text-lg;
  @apply p-[2px];
  @apply w-[32px];
}
