.CollectionAdd {
  --size: 28px;
  height: var(--size);
  margin-top: -6px;
}

.CollectionAdd__button svg {
  width: var(--size);
  height: var(--size);
  transition:
    background,
    fill 0.14s ease-out;
  padding: 4px;
  @apply fill-neutral-500;
  @apply rounded-md;
}

.CollectionAdd__button svg:hover {
  background: var(--hover-bg);
  @apply fill-neutral-800;
}

.CollectionDelete__title-warning {
  height: 1.2em;
  width: 1.2em;
  margin-top: -2px;
  margin-right: 0.2em;
  display: inline-block;
  @apply fill-neutral-600;
}

#emoji-picker > button {
  display: none;
}

.DialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.DialogOverlay[data-state="open"] {
  animation: enter 150ms ease-out;
  opacity: 1;
  --tw-enter-opacity: 0;
}

.DialogOverlay[data-state="closed"] {
  animation: exit 150ms ease-in;
  --tw-exit-opacity: 0;
}

.EmojiTrigger {
  @apply text-neutral-600;
  @apply bg-neutral-100;
  @apply hover:text-neutral-800;
  @apply hover:bg-neutral-200;
  @apply rounded-lg;
  @apply transition;
  @apply text-lg;
  @apply p-[2px];
  @apply w-[32px];
}
