.profileList {
  margin: 0;
}

.profileList > li {
  position: relative;
  list-style: none;
  border-left: solid 1px #f0f0f0;
  border-right: solid 1px #f0f0f0;
}

.profileList > li + li,
.profileList > li:first-child {
  border-top: solid 1px #f0f0f0;
}

.profileList > li:last-child {
  border-bottom: solid 1px #f0f0f0;
}

.profileList > li.focused {
  padding-left: 4px;
}

.profileList > li.focused:before {
  content: "";
  position: absolute;
  display: block;
  left: -0px;
  width: 4px;
  height: 100%;
  border-left: solid 4px var(--sky-500);
}

.profileList__empty {
  text-align: center;
  margin-top: 1.8em;
}

.profileList__empty-icon {
  @apply fill-neutral-500;
  display: inline-block;
  padding: 4px;
  --size: 28px;
  width: var(--size);
  height: var(--size);
}

.profileList__empty-desc {
  margin-top: 0.2em;
  margin-bottom: 1.8em;
  color: #555;
}
