:root {
  --red-600: rgb(220 38 38);
  --sky-500: rgb(14 165 233);
  --hover-bg: rgba(245, 245, 245, 1);
}

body {
  margin: 0;
}

#App {
  height: 100vh;
  background: #fff;
  overflow: hidden;
  --input-height: 50px;
}

.input-box {
  padding: 8px 8px 4px;
  height: var(--input-height);
  display: flex;
  align-items: center;
  gap: 4px;
}

.result-tabs {
  height: calc(100% - var(--input-height));

  --border: 215 2% 78%;
}

#App .scroll-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  justify-content: flex-start;
}
.scroll-horizontal::-webkit-scrollbar {
  display: none;
}

.tab-indicator {
  position: absolute;
  background: rgb(55 65 81);
  height: 4px;
  bottom: 0px;
  border-radius: 4px;

  @apply transition-all;
  @apply ease-out;
  @apply duration-100;
}

.tab-icon {
  width: 16px;
  height: 16px;
  fill: #737373;
  margin: 2px 0 0 0;
}

.tab-content {
  height: calc(100% - var(--input-height));
}

.tab-button {
  @apply py-1;
  @apply px-1;
  margin-top: -6px;
  box-shadow: none;
  outline: none;
  box-shadow: none;
}

.tab-button__name {
  padding: 0 4px;
}
.tab-button__icon {
  padding-left: 2px;
}
.tab-icon + .tab-button__name,
.tab-button__icon + .tab-button__name {
  padding-left: 1px;
}

:not(.dragging) > .tab-button:hover,
.tab-button[data-state="active"]:hover {
  @apply bg-neutral-100;
}

.tab-separator {
  position: relative;
  height: 20px;
  padding: 0.5px;
  bottom: 2px;
  margin: 0 6px;
  @apply bg-neutral-300;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.error {
  color: var(--red-600);
  padding: 10px 10px 0;
  margin: 0;
}
